* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-family: 'Hanken Grotesk', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    padding: 0% 15%;
    flex-direction: column;
}

.dot{
    border-top: 2px solid #F5841F;
    width: 1px;
}

.main_funkce div{
    display: flex;
    gap: 0.2em;
    align-items: center;
    padding: 1em;
}

.main_seznam{
    padding-right: 20%;
    padding-bottom: 4em;
}

.videotutorialy{
    position: absolute;
    right: 20%;
    top: 15em;
}

.videotutorialy a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videotutorialy a:hover{
    color: #F5841F;
}

.main_articles{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1em;
    padding: 2em;
    background-color: #F5F5F5;
    border-radius: 2em;
}

.main_articles_item{
    
    padding: 5%;
    border-radius: .5em;
    background-color: white;
}

.main_articles_item:hover{
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.main_dotaz{
    display: flex;
    flex-direction: column;
    padding: 5em 0em;
    align-items: center;
    gap: 1em;
}

@media (min-width: 675px) {
    .main_articles{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .main_dotaz{
        padding: 10em;
    }
}