.header_contact{
    display: flex;
    justify-content: space-between;
    padding: 1em 5em;
    background-color: #F5F5F5;
}

.header_contact_item{
    display: flex;
    height: fit-content;
}

.header_contact_item a{
    text-decoration: none;
    display: flex;
    align-items: center
}



.nav_title{
    display: flex;
    align-items: center;
}

.nav_title a{
    display: flex;
    align-items: center;
}








.button{
    display: block;
    width: fit-content;
    background-color: #F5841F;
    color: white;
    font-weight: 700;
    padding: 0.7em 2em;
    border-radius: 5em;
}

.button:hover{
    background-color: #16213C;
    transition: .4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.button_2{
    display: block;
    width: fit-content;
    background-color: #ffffff;
    color: black;
    font-weight: 700;
    flex-shrink: 0;
    padding: 0.7em 2em;
    border-radius: 5em;
    border: solid;
    border-color: #F5841F;
}

.button_2:hover{
    background-color: #F5841F;
    transition: .4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




footer{
    background-color: #16213C;
    color: #8ECAE6;
    padding: 5em;
}

footer section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2em;
}

.footer_credits{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

hr{
    border:.1em solid #8ECAE625
}

.footer_titles{
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 1em;
}

footer dd a{
    color: #8ECAE6;
}

footer dd a:hover{
    color: #F5841F;
}

@media (min-width: 675px) {
    footer section{
        flex-direction: row;
    }
}