.header_contact{
    display: flex;
    justify-content: space-between;
    padding: 1em 5em;
    background-color: #F5F5F5;
}

.header_contact_item{
    display: flex;
    height: fit-content;
}

.hamburger {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
}

.nav_title{
    display: flex;
    align-items: center;
}

.nav_title a{
    display: flex;
    align-items: center;
}


.hamburger .nav_list{
    display: grid;
    position: absolute;
    background: #F5F5F5;
    width: 100%;
    top: 7em;
    text-align: center;
    transform: translate(-115%);
    z-index: -1;
    transition: .6s;
}



.hamburger .nav_list .nav_item{
    cursor: pointer;
    height: 100%;
    padding:  0 30px;
    transition: .4s;
}

.hamburger .nav_list .nav_item:hover{
    background: #F5841F;
}

.hamburger .nav_list .nav_link {
    color: #000000;
    font-size: 17px;
    font-weight: 800;
}

.hamburger .navbar .navbar__hamburger {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

.hamburger .navbar__hamburger .bar {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #F5841F;
    border-radius: 10%;
    transition: .4s;
}

.navbar__menu.navbar__menu--hidden{
    transform:translate(-15%)
}

.button{
    background-color: #F5841F;
    color: white;
    font-weight: 700;
    flex-shrink: 0;
    padding: 0em 2em;
    border-radius: 5em;
}









footer{
    background-color: #16213C;
    color: #8ECAE6;
    padding: 5em;
}

footer section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2em;
}

.footer_credits{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

hr{
    border:.1em solid #8ECAE625
}

.footer_titles{
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 1em;
}

footer dd a{
    color: #8ECAE6;
}


@media (min-width: 675px) {
    
    .hamburger .nav_list{
        position: relative;
        display: flex;
        transform: translate(0);
        top: 0em;
        justify-content: center;
        background: white;
    }

    .hamburger .navbar-toggler {
        display: grid !important;
    }

    footer section{
        flex-direction: row;
    }

    .hamburger-menu{
        display: none;
    }
}