* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-family: 'Hanken Grotesk', sans-serif;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_uvod {
    display: flex;
    flex-direction: column-reverse;
}

.main_uvod_img{
    display: flex;
    width: 50vw;

}

.main_uvod_img img{
    width: 100%;
    border-radius: 2em;
}
.list_logo {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 5em;
}

.main_vyhody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em;
    background-color: #F1F9FC;
}

.main_vyhody_list{
    display: flex;
    flex-direction: column;
    padding: 5em;
}

.main_vyhody_list div{
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    align-items: center;
    gap: 3em;
    text-align: center;
    font-weight: 800;
    color: #16213C;
}

.main_pribeh h2{
    padding: 2em;
    text-align: center;
}

.main_pribeh_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5em 10em;
    gap: 5em;
}

.main_pribeh_content_img{
    display: flex;
    width: 50vw;
}

.main_pribeh_content img {
    width: 100%;
    border-radius: 2em;
}

.main_pribeh_content_text{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.main_napsali {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main_napsali div{
    display: flex;
}

.main_napsali div div{
    display: flex;
    flex-direction: column;
}