* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-family: 'Hanken Grotesk', sans-serif;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    padding: 0% 15%;
    flex-direction: column;
}

.dot{
    border-top: 2px solid #F5841F;
    width: 1px;
}

.main_funkce div{
    display: flex;
    gap: 0.2em;
    align-items: center;
    padding: 1em;
}

.main_seznam{
    padding-right: 20%;
    padding-bottom: 4em;
}

.main_people{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1em;
    background-color: #F5F5F5;
    border-radius: 2em;
}

.main_people_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    background-color: white;
    padding: 5%;
    border-radius: 2em;
}

.main_people_item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .4s;
}

.main_dotaz{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding: 2em;
}

@media (min-width: 675px) {
    .main_people{
        grid-template-columns: repeat(4, 1fr);
    }
    
}